[Desktop Entry]
Version=1.1
Type=Application
Name=Clipboard History
GenericName=Clipboard Manager
Comment=Clip-Win History Manager
Exec=clip-win
Icon=clip-win
Terminal=false
Categories=Utility;GTK;
Keywords=clipboard;history;paste;copy;emoji;gif;
StartupWMClass=clip-win
StartupNotify=true
